.home-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & > .top-area {
        display: flex;
        flex-direction: column;
        font-size: 24px;
        font-weight: 400;
        gap: 16px;
        flex: 0 0 292px;
        padding: 24px 60px;
        color: #2C3E50;

        & .text-wrapper {
            line-height: 1.5;
        }

        & .number-wrapper {
            font-size: 48px;
            font-weight: 700;
            line-height: 1.5;
        }
    }

    & .todo-list-wrapper {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 16px;
        flex: 1;
        background-color: #f4f4f4;
        padding: 24px 52px;
        overflow: auto;

        & > .top-area {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        & .todo-container {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        & .empty-wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 16px;

            & > .empty-image-wrapper {
                width: 240px;
                height: 180px;
                background: url("../assets/illust_empty.svg") no-repeat;
            }

            & > .empty-text-wrapper {
                line-height: 1.5;
                opacity: 0.4;
            }
        }
    }
}