@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

:root {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

html, body, #root {
    height: 100%;
    min-width: 1280px;
    min-height: 700px;
}

#root {
    display: flex;
    flex-direction: column;
}